/ h3 Listing servers
/
/ table.table
/   thead
/     tr
/       th Hostname
/       th Username
/       th Private key
/       th Public key
/       th
/       th
/       th
/
/   tbody
/     - @servers.each do |server|
/       tr
/         td = server.hostname
/         td = server.username
/         td = server.private_key
/         td = server.public_key
/         td = link_to 'Show', server
/         td = link_to 'Edit', edit_server_path(server)
/         td = link_to 'Destroy', server, data: {confirm: 'Are you sure?'}, method: :delete
/ br
/
/ = link_to 'New Server', new_server_path

#servers

javascript:
  $(function() {
    window.router = new Craftdash.Routers.ServersRouter({servers: #{@servers.to_json.html_safe}});
    Backbone.history.start();
  });