<h1>Listing servers</h1>

<table id="servers-table">
  <tr>
    <th>Hostname</th>
    <th>Username</th>
    <th>Private key</th>
    <th>Public key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Server</a>