<p>
  <b>Hostname:</b>
  <%= hostname %>
</p>

<p>
  <b>Username:</b>
  <%= username %>
</p>

<p>
  <b>Private key:</b>
  <%= private_key %>
</p>

<p>
  <b>Public key:</b>
  <%= public_key %>
</p>


<a href="#/index">Back</a>